@model List<SocialMediaFarmer.Models.PerguntaRespostaViewModel>

<h2>Perguntas</h2>

@foreach (var pergunta in Model)
{
    <div class="pergunta">
        <h4>@pergunta.Topico</h4>
        <p>@pergunta.Pergunta</p>
        <p>Data de Publicação: @pergunta.DataPublicacao.ToString("dd/MM/yyyy")</p>
        <p>Autor: @pergunta.NomeUsuario</p>

        @if (User.Identity.IsAuthenticated && pergunta.Resolvida)
        {
            <p>Esta pergunta está resolvida.</p>
        }

        <div>
            <button class="btn btn-secondary" onclick="location.href='@Url.Action("VisualizarRespostas", new { id = pergunta.PerguntaId })'">Visualizar Respostas</button>
        </div>

        @if (User.Identity.IsAuthenticated && User.Identity.Name == pergunta.NomeUsuario)
        {
            <div>
                <input type="checkbox" id="resolvida" name="resolvida" @(pergunta.Resolvida ? "checked" : "") disabled />
                <label for="resolvida">Marcar como Resolvida</label>
            </div>
        }
    </div>
}
