@model List<SocialMediaFarmer.Models.PerguntaRespostaViewModel>

<h2>Perguntas</h2>

@foreach (var pergunta in Model)
{
    <div>
        <h3>@pergunta.Topico</h3>
        <p>@pergunta.Pergunta</p>
        <p>Publicado por: @pergunta.NomeUsuario em @pergunta.DataPublicacao</p>

        <form asp-action="Responder" method="post">
            <input type="hidden" name="perguntaId" value="@pergunta.PerguntaId" />
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>

        <hr />
    </div>
}
<div class="mt-3">
    <a asp-action="FazerPergunta" asp-controller="Home" class="btn btn-success">Fazer Pergunta</a>
</div>
